html, body {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: CENTER;
}
canvas {
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
/*   display: block;
  padding: 20px; */
}

h1 {
  color: #00f7ff;
  font-family: 'Barrio';
  margin-bottom: 0px;
}

p {
  color:#f25aed;
  font-family: 'ABeeZee';
  margin-top: 5px;
}

.saveButton, .clearButton, .rotationalButton, .radialButton, .reflButton, .strButton {
  padding:10px;
  font-family:'ABeeZee';
  font-size: 15px;

}
